.bgGray {
    background-color: #131516;
}

.redHatDisp {
    font-family: 'Red Hat Display', sans-serif;
}

.inter {
    font-family: 'Inter', sans-serif;
}

.textBig {
    color: #566067;
    font-weight: 600;
}

.textColor {
    color: #566067;
}

.spaceED {
    letter-spacing: 6px;
}

.navRight {
    font-family: 'garet-book';
    color: #566067;
    font-weight: bold;
}

.hiColor {
    color: #82A5EB;
}

body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  body {
    cursor: url(Assets/Cursors/circle-notch-solid.svg) 15 15, move;
  }

  button {
    cursor: url(Assets/Cursors/xmark-solid.svg) 15 15, move;
  }

  a {
    cursor: url(Assets/Cursors/xmark-solid.svg) 15 15, move;
  }

  input {
    cursor: url(Assets/Cursors/xmark-solid.svg) 15 15, move;
  }